.square {
  height: 100px;
  width: 100px;
  background-color: #3403e6;
  text-align: center;
  padding: 10px;
}


.circle {
  height: 100px;
  width: 100px;
  background-color: #3403e6;
  border-radius: 50%;
  border: black;
  text-align: center;
  padding: 10px;
}


.rectangle {
  height: 100px;
  width: 200px;
  background-color: #3403e6;
  padding: 10px;
  text-align: center;
}


.triangle {
  width: 0;
	height: 0;
	border-left: 50px solid lightblue;
	border-right: 50px solid lightblue;
  border-bottom: 100px solid rgb(202, 25, 25);
  text-align: center;
}



